.Grid > thead > tr{background-color: transparent !important; border-width: 0 !important; text-align: left !important; text-shadow: none !important;}
.Grid > thead > .PreHTML{position: absolute; top: 0; right: 0;}
.Grid > thead > tr > th > input{margin-top: -13px; border-radius: 3px; border-color: Silver;}
.Grid > thead > .Page{border-bottom: 1px Silver solid !important; color: Grey !important;}
.Grid > thead > .Page > th{padding-right: 0;}
.Grid > thead > .Page > th > .Paginator{float: right !important;}
.Grid > thead > .Page > th > .Paginator > .Link{margin: 0; margin-left: 5px; border-radius: 3px; border-color: Silver !important; background-color: transparent; padding: 5px; padding-left: 10px !important; padding-right: 10px !important; color: Grey;}
.Grid > thead > .Page > th > .Paginator > .Link:hover{background-color: Silver; color: Black; text-shadow: -1px -1px white;}
.Grid > thead > .Page > th > .Paginator > .ActiveLink{margin: 0; margin-left: 5px; border-radius: 3px; border-color: Silver !important; background-color: Silver !important; padding: 5px; padding-left: 10px !important; padding-right: 10px !important; color: Black;}
.Grid > thead > .Page > th > .Suffix{float: right !important; margin-top: 6px; margin-right: 15px;}
.Grid > thead > .Column{border-bottom: 1px Silver solid !important; text-transform: uppercase;}
.Grid > thead > tr > th{border-width: 0 !important;}
.Grid > thead > tr > th > a{color: Grey !important;}
.Grid > thead > tr > th > a:hover{font-weight: bold;}
.Grid > tbody > tr{border-bottom: 1px Silver solid; background-color: transparent;}
.Grid > tbody > tr:hover{background-color: #F7F7F7 !important;}
.Grid > tbody > tr > td{border-width: 0; padding: 10px;}
.Grid > tbody > tr > td:nth-child(6) > a > .Icon{height: 32px !important;}
.Grid > tbody > tr > td:nth-child(7){text-transform: uppercase;}
.Grid > tbody > tr > td > .Operator{color: Maroon;}
.Grid > tbody > tr > .Serial:after{content: '.';}
.Grid > tbody > tr > .Action > a > .Icon{height: 36px !important;}
.Grid > tfoot{margin-top: 15px; background-color: transparent;}
.Grid > tfoot > tr{border-width: 0 !important; background-color: transparent !important; color: Black !important; text-align: left !important;}
.Grid > tfoot > tr > td{border-width: 0 !important; text-shadow: none !important;}
.Grid > tfoot > tr > td > select{margin-top: -8px; margin-right: 5px; border-radius: 15px; border-color: Silver;}
